.group {
  
  width: 656px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;

  
/*Apliquei o posicionamento relativo ao bloco com seu index de 1 para ficar aparecendo na frente de tudo */
  position: relative;
  z-index: 1;
}
