.place__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .place__text {
    font-size: 16px;
    line-height: 26.08px;
  }
}


