.place__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;

  grid-area: texto;
}


@media screen and (min-width: 320px)  and (max-width: 767px) {
  .place__paragraph {
    font: 16px;
    line-height: 26.08px;
  }

}