.lead__image {
  width: 77%; /* usar meidas relativas para site se adaptar, mesmo sem as media querys*/
  margin-top: 64px;
}


@media screen and (min-width: 768px) and (max-width: 1280px) {
  .lead__image {
    width: 100%;
    margin-top: 69px;
  }
}


@media screen and (min-width: 320px)  and (max-width: 767px) {
  .lead__image {
    width: 100%;
    margin-top: 40px;
  }

}