.intro {
  max-width: 79.45%;/* porcentagem em relação as dimensoes do site que é de 1280px */
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
 .intro {
    margin-top: 88px;

 }
}

@media screen and (min-width: 320px)  and (max-width: 767px) {
  .intro {
    margin-top: 44px;
    row-gap: 34px;
  }

}


