.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  /* or 120% */
  text-align: center;
  color: #FFFFFF;
  max-width: 720px; /* se colocar max ele fica responsivo */
  max-height: 72px;
}


