.place {
  /* coloco meu bloco como grid, com suas colunas e linhas */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 1fr .5fr;

  /*espacamento entre linha e coluna */
  row-gap: 48px;
  column-gap: 40px;
}
