.group__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */
  text-align: center;
  color: #FFFDFD;
  

  
}

@media screen and (min-width: 320px)  and (max-width: 767px) {
  .group__title {
    font-size: 32px;
    line-height: 35px;
  }

}