.frame {
  width: 355px;
  height: 48px;
  background-color: #0278FE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4%;

  grid-area: frame;

}

.frame:hover {
  cursor: url(../../images/__cursor.cur), auto; /* segundo documentacao o valor padrao como fallback(auto) deve ser fornecido, não vai funcionar sem */
}